<h2>Main page</h2>
<% @posts.each do |post| %>
	<p> 
		<%= post.content %> 
		<br/ >		
		<span style="font-size:75%; color:#999">Written by <%= post.author %> at <%= post.created_at %></span>	
		<br/ >
		<br/ >
		<a href="/post/<%= post.id %>">Comment: </a>
		<br/ >
	</p>
	<hr/ >
<% end %>